{% extends "survey/base.html"%}
{% load staticfiles %}

 {% block Heading %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"> Admin Dashboard </h1>
          </div>
{% endblock %}

{% block jumbotron %}

      <div class="jumbotron">
      <div class="container">
        <h1> Survey Project </h1>
        <p> This is a survey landing page </p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'login'%}" role="button"> Please Login to take survey</a></p>
      </div>

    </div>

{% endblock %}

