{% extends 'survey/base.html' %}

{% block content %}
    <div class="card">
            <div class="card-header">
                <h5> Assign Survey to Employees </h5>
            </div>
        <div class="card-body">
             <form class="form-horizontal" method="post" action="{% url 'saveAssignSurvey'  %}">
              {% csrf_token %}
            <input type="hidden" value="{{survey_id}}" name="survey_id">
                    <div class="card">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Employee Name</th>
                                        <th>Email</th>
                                        <th>Survey Start Date</th>
                                        <th>Survey End Date </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        {% for user in user_list %}

                                            <td><input type="checkbox" value="{{ user.id }}"  name="emp_id"> </td>
                                            <td>{{user.emp_name}}</td>
                                            <td>{{user.emp_username}}</td>
                                            <td><input type="date" id="start-date" name="start-date"></td>
                                            <td><input type="date" id="end-date" name="end-date"></td>
                                    </tr>
                                        {% endfor %}
                                </tbody>
                        </table>
                    <div>
            <br>
             <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
             </div>
            </div>
         </form>
        </div>
    </div>
{% endblock %}
