{% extends 'survey/base.html' %}

{% block content %}

    <h3> Survey List </h3>
    <div class="card">
        <ul class="list-group">
            {% for survey in survey_list %}
                <li class="list-group-item">
                    <a href="{% url 'surveyQuest' survey.id %}"> {{ survey.survey_name }}</a>
                    <a href="{% url 'assignSurvey' survey.id %}"><span class="fa fa-share text-right" style="float:right"></span></a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
